<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:x="http://java.sun.com/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui"
	xmlns:m="http://code.google.com/p/gmaps4jsf/"
	template="/views/index.xhtml">

	<ui:define name="content">
		<h:form id="createForm" styleClass="container_24">
			<p:breadCrumb>
				<p:menuitem value="Home" url="/views/index.xhtml" />
				<p:menuitem value="Cadastrar" disabled="true"/>
				<p:menuitem value="Dispositivo" disabled="true" />
			</p:breadCrumb>

			<p:panel id="dataPanel" styleClass="clearfix" header="Dados do dispositivo" toggleable="true" style="text-align:center">

				<p:outputLabel for="imei" value="IMEI" class="grid_3" style="text-align: left;" />
				<p:inputMask id="imei" value="#{deviceController.entity.imei}" required="true" mask="?99999999999999999999" class="grid_7" slotChar="" />

				<div class="clear" />

				<div class="buttonsGroup">
					<p:commandButton value="Salvar" action="#{deviceController.create}" update="@form" />
				</div>

			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>