<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:x="http://java.sun.com/jsf/composite/components">

	<h:form id="editForm" styleClass="container_24">

		<p:panel id="dataPanel" class="clearfix" header="#{wds['painel.dataOf']} #{lbl['device']}" toggleable="true">

			<p:outputLabel for="imei" value="#{lbl['device.imei']}" class="grid_3" style="text-align: left;" />
			<p:inputText id="imei" value="#{deviceManageController.editEntity.imei}" required="true" class="grid_7" />

			<div class="clear" />

			<div class="buttonsGroup">
				<p:commandButton id="updateCommandButton" icon="ui-icon-pencil" value="#{wds['button.update']}" action="#{deviceManageController.update}" update=":deviceTabView"/>
				<p:commandButton id="cancelCommandButton" value="#{wds['button.cancel']}"  action="#{deviceManageController.cancel}" update=":deviceTabView @form" icon="ui-icon-cancel" process="@this" />
			</div>
		</p:panel>

	</h:form>

</ui:composition>