<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:x="http://java.sun.com/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui"
	xmlns:m="http://code.google.com/p/gmaps4jsf/"
	template="/views/index.xhtml">

	<ui:define name="content">

		<p:tabView id="deviceTabView" widgetVar="deviceTabs">
		
			<p:ajax event="tabClose" update="deviceTabView" listener="#{deviceManageController.onTabClose}" process="@all" />
			
			<p:tab id="searchTab" binding="#{deviceManageController.searchTab}" title="#{wds['tab.manage']} #{lbl['device']}">
				<p:breadCrumb>
					<p:menuitem value="Home" url="/views/index.xhtml" />
					<p:menuitem value="#{wds['tab.manage']}" disabled="true" />
					<p:menuitem value="#{lbl['device']}" disabled="true" />
				</p:breadCrumb>
				<ui:include src="DeviceSearch.xhtml" />
			</p:tab>

			<p:tab id="editTab" binding="#{deviceManageController.editTab}" title="#{wds['tab.edit']} #{lbl['device']}" rendered="false" closable="true">
				<p:breadCrumb>
					<p:menuitem value="Home" url="/views/index.xhtml" />
					<p:menuitem value="#{wds['tab.edit']}" disabled="true" />
					<p:menuitem value="#{lbl['device']}" disabled="true" />
				</p:breadCrumb>
				<ui:include src="DeviceEdit.xhtml" />
			</p:tab>

		</p:tabView>

	</ui:define>

</ui:composition>