<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:x="http://java.sun.com/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<h:form id="formSearchDevice" styleClass="container_24">
		<f:validateBean disabled="true">
			<p:panel header="#{wds['painel.filters']}" toggleable="true" id="filtersPanel" styleClass="clearfix">
				<p:outputLabel for="name" value="#{lbl['device.imei']}" class="grid_2" />
				<p:inputText id="name" value="#{deviceManageController.searchEntity.imei}" class="grid_22" />
				<div class="clear" />
			</p:panel>
		</f:validateBean>

		<div class="buttonsGroup">
			<p:commandButton id="searchBtn" icon="ui-icon-search" value="#{wds['button.search']}" update="resultsDataTable" action="#{deviceManageController.find}">
				<p:blockUI block="resultsDataTable" trigger="searchBtn">Procurando<br />
					<h:graphicImage library="images" name="ajax-loader.gif" />
				</p:blockUI>
			</p:commandButton>

			<p:commandButton value="#{wds['button.clean']}"
				action="#{deviceManageController.clean}"
				icon="ui-icon-arrowrefresh-1-w" update="filtersPanel"
				process="@this">
			</p:commandButton>
		</div>

		<p:panel id="resultsPanel" header="#{wds['table.header.results']}" toggleable="true" styleClass="clearfix">
			<p:dataTable id="resultsDataTable" binding="#{deviceManageController.searchResults}" value="#{deviceManageController.dataModel}">
				
				<p:column styleClass="buttonsOptions" headerText="#{wds['table.columns.options']}" exportable="false">
					<p:commandButton id="editCommandButton"
						action="#{deviceManageController.edit}" icon="ui-icon-pencil" title="#{wds['table.columns.options.edit.hint']}" update=":deviceTabView">
						<f:setPropertyActionListener target="#{deviceManageController.editEntity}" value="#{item}" />
					</p:commandButton>
					<p:commandButton id="deleteCommandButton" icon="ui-icon-trash"
						title="#{wds['table.columns.options.delete.hint']}" oncomplete="PF('confirmation').show()">
						<f:setPropertyActionListener target="#{deviceManageController.removeEntity}" value="#{item}" />
					</p:commandButton>
				</p:column>

				<p:column id="imeiColumn" headerText="#{lbl['device.imei']}" sortBy="#{item.imei}">
					<h:outputLabel value="#{item.imei}" />
				</p:column>

			</p:dataTable>
		</p:panel>
		
		<p:confirmDialog id="confirmation" message="#{wds['dialog.deleteConfirmation.message']}" header="#{wds['dialog.deleteConfirmation.header']}" widgetVar="confirmation"  appendTo="@(body)">
			<div class="buttonsGroup">
				<p:commandButton id="simCommandButton" value="#{wds['dialog.optionYes']}" onclick="PF('confirmation').hide()" process="@this" icon="ui-icon-check" actionListener="#{deviceManageController.remove}"
					update="@form" />
				<p:commandButton id="naoCommandButton" onclick="PF('confirmation').hide()" value="#{wds['dialog.optionNo']}" type="button" icon="ui-icon-cancel" />
			</div>
		</p:confirmDialog>

	</h:form>

</ui:composition>