.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-menubar {
    background: none;
    padding: 8px 8px 0;
    border: none;
    border-radius: 0;
    margin-top: 0;
}

.ui-layout-unit {
    padding: 0px;
}

.ui-layout-pane-north {
    border-radius: 0px;
}

.ui-grid-row {
	padding-bottom: 8px;
}

.ui-outputlabel-rfi {
	color: #ff0000 !important;
}

.ui-outputlabel {
	text-align: left;
	margin: 2px 0;
}

.ui-outputlabel.ui-state-error {
	background: transparent;
	color: #B81900
}

.ui-breadcrumb.ui-widget-header {
	background: transparent;
	border: none;
}

.buttonsGroup .ui-button {
	margin: 20px 5px;
	font-weight: normal;
}

.buttonsGroup {
	text-align: center;
	width: 100%
}

.buttonsOptions {
	width: 120px;
	text-align: center;
}

.buttonsAction {
    text-align: center !important;
    margin: 10px 0 !important;
    background: none !important;
}

.ui-panel-titlebar {
	text-align: center;
}

.ui-panel .ui-panel-titlebar {
	padding: 6px 12px;
}

.ui-menu>.ui-menu-list>.ui-menuitem:last-child {
	float: right;
	border: none;
	background: none;
}

.ui-selectmanycheckbox label, .ui-selectoneradio label {
	display: block;
	margin-top: 4px;
	text-align: left;
	margin-left: 1px;
	margin-bottom: 5px;
}

.menuContent .ui-layout-unit-content {
    overflow: hidden !important;
}

.ui-panel-content .grid_1,
.ui-panel-content .grid_2,
.ui-panel-content .grid_3,
.ui-panel-content .grid_4,
.ui-panel-content .grid_5,
.ui-panel-content .grid_6,
.ui-panel-content .grid_7,
.ui-panel-content .grid_8,
.ui-panel-content .grid_9,
.ui-panel-content .grid_10,
.ui-panel-content .grid_11,
.ui-panel-content .grid_12,
.ui-panel-content .grid_13,
.ui-panel-content .grid_14,
.ui-panel-content .grid_15,
.ui-panel-content .grid_16,
.ui-panel-content .grid_17,
.ui-panel-content .grid_18,
.ui-panel-content .grid_19,
.ui-panel-content .grid_20,
.ui-panel-content .grid_21,
.ui-panel-content .grid_22,
.ui-panel-content .grid_23,
.ui-panel-content .grid_24 {
	margin-bottom: 5px;
}

.grid_1>label,.grid_2>label,.grid_3>label,.grid_4>label,.grid_5>label,.grid_6>label,.grid_7>label,.grid_8>label,.grid_9>label,.grid_10>label,.grid_11>label,.grid_12>label,.grid_13>label,.grid_14>label,.grid_15>label,.grid_16>label,.grid_17>label,.grid_18>label,.grid_19>label,.grid_20>label,.grid_21>label,.grid_22>label,.grid_23>label,.grid_24>label {
    padding-top: 5px;
}

div.grid_1 div.ui-selectonemenu,
div.grid_2 div.ui-selectonemenu,
div.grid_3 div.ui-selectonemenu,
div.grid_4 div.ui-selectonemenu,
div.grid_5 div.ui-selectonemenu,
div.grid_6 div.ui-selectonemenu,
div.grid_7 div.ui-selectonemenu,
div.grid_8 div.ui-selectonemenu,
div.grid_9 div.ui-selectonemenu,
div.grid_10 div.ui-selectonemenu,
div.grid_11 div.ui-selectonemenu,
div.grid_12 div.ui-selectonemenu,
div.grid_13 div.ui-selectonemenu,
div.grid_14 div.ui-selectonemenu,
div.grid_15 div.ui-selectonemenu,
div.grid_16 div.ui-selectonemenu,
div.grid_17 div.ui-selectonemenu,
div.grid_18 div.ui-selectonemenu,
div.grid_19 div.ui-selectonemenu,
div.grid_20 div.ui-selectonemenu,
div.grid_21 div.ui-selectonemenu,
div.grid_22 div.ui-selectonemenu,
div.grid_23 div.ui-selectonemenu,
div.grid_24 div.ui-selectonemenu {
	width:100% !important;
}

.ui-panel-content {
	margin-top: 10px;
}

.clear {
    margin-left: -20px;
    *zoom: 1;
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.clear:after {
    clear: both;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
    display: block;
}

* html .clearfix {
    height: 1%;
}

.clearfix label {
    float: left;
}


.ui-panel {
    margin: 10px;
	padding: 0;
}

.ui-panel .ui-panel-content {
	padding: 0;
}



.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 1.55em;
}

.ui-selectonemenu label {
    float: left !important;
    font-weight: normal !important;
    text-align: left;
}

.ui-selectonemenu {
    display: inline;
    float: right;
    position: relative;
    margin-left: 5%;
    margin-right: -1%;
}

.labelLeft, .ui-selectonemenu-label{
	text-align: left !important;
}

.ui-button.ui-state-disabled,
.ui-autocomplete-input.ui-state-disabled ~ .ui-button,
.ui-selectonemenu.ui-state-disabled .ui-selectonemenu-trigger {
	opacity: 0.7;
	filter: Alpha(Opacity=70);
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
	display: block;
}
.ui-selectonemenu-panel .ui-selectonemenu-filter-container input.ui-state-default {
	width: 100%;
}

span.ui-autocomplete:after {
	content: '';
	clear:both;
}

span.ui-autocomplete>input.ui-autocomplete-input, .hasDatepicker {
    width: 100%;
    border-radius: 6px;
}

span.ui-autocomplete, .hasDatepicker {
    display: block;
    width: 100%;
}

span.ui-autocomplete>button.ui-button-icon-only,
span[class^="w"]>button.ui-button-icon-only,
button.ui-datepicker-trigger {
    width: 2em;
	height: 1.9em;
	margin: 0px;
	float: right;
	top: 0;
	right: 0em;
	position: absolute;
}

.ui-autocomplete.state {
    margin-left: -10px; ! important;
    margin-right: -2px;
    !
    important;
}

.ui-button.ui-state-disabled,
.ui-autocomplete-input.ui-state-disabled ~ .ui-button,
.ui-selectonemenu.ui-state-disabled .ui-selectonemenu-trigger {
	opacity: 0.7;
	filter: Alpha(Opacity=70);
}

.ui-autocomplete {
	white-space: nowrap;
}

button.ui-button-text-only {
    margin-right: 0;
}

div.ui-fieldset-content div:first-child {
    margin-right: 0.73%;
}

div.ui-fieldset-content div.col5:first-child {
    margin-right: 0.5%;
}

fieldset>div.ui-fieldset-content {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.w1,.w2,.w3,.w4,.w5,.w6,.w7,.w8,.w9,.w10,input,label[class^="w"] {
    vertical-align: bottom;
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    border-collapse: separate;
    border-spacing: 2;
    box-sizing: border-box;
    -moz-box-sizing: padding-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.col6,.col5,.col4 {
    display: inline-table;
    position: relative;
}

.col6 {
    width: 67.3%
}

.col5 {
    width: 48.3%
}

.col4 {
    width: 31.4%
}

.w1 {
    width: 10%
}

.w2 {
    width: 20%
}

.w3 {
    width: 30%
}

.w4 {
    width: 40%
}

.w5 {
    width: 50%
}

.w6 {
    width: 60%
}

.w7 {
    width: 70%
}

.w8 {
    width: 80%
}

.w9 {
    width: 90%
}

.w10 {
    width: 100%
}

.r1 {
    left: 10%
}

.r2 {
    left: 20%
}

.r3 {
    left: 30%
}

.r4 {
    left: 40%
}

.r5 {
    left: 50%
}

.r6 {
    left: 60%
}

.r7 {
    left: 70%
}

.r8 {
    left: 80%
}

.r9 {
    left: 90%
}

.r10 {
    left: 100%
}

[class*="span"] {
    float: left;
    margin-left: 20px;
}

.noBorders tr,.noBorders td {
    background: none !important;
    border: none !important;
}

.ui-autocomplete .ui-icon-triangle-1-s {
    background-position: -160px -112px !important
}

.ui-menuitem-link span.ui-icon{
    background-position: -64px -16px !important
}

.ui-icon-bullet {
    background-position: -82px -146px;
}

.ui-selectoneradio.ui-widget label {
	padding-left: 14px;
	margin-right: 0px;
}

table.ui-selectoneradio {
    height: 2em;
}

table.ui-selectoneradio tbody tr td {
    display: inline-block;
    vertical-align: text-top;
    /*font-weight: bold;*/
    padding-left: 11px;
}

.ui-radiobutton {
    line-height: 16px;
    margin: 4px 0;
    position: relative;
    width: 4px;
}

.ui-radiobutton .ui-radiobutton-box {
    border-radius: 10px 10px 10px 10px;
    bottom: 0;
    height: 13px;
    left: 0;
    line-height: 16px;
    position: relative;
    width: 13px;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
}

.ui-widget-content .ui-state-default.ui-inputtextarea,
/* .ui-widget-content .ui-state-default.ui-chkbox-box, */
.ui-widget-content input.ui-state-default,
/* .ui-widget-content .ui-radiobutton .ui-radiobutton-box, */
.login input.ui-state-default,
.ui-widget-content .ui-selectonemenu {
	background-image: none;
	background-color: #fff;
	border: 1px solid #dcdcdc;

	-webkit-box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
			box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.ui-inputfield.ui-state-focus,
.ui-widget-content .ui-inputfield.ui-state-focus,
.ui-widget-header .ui-inputfield.ui-state-focus,
.ui-widget-content .ui-chkbox .ui-chkbox-box.ui-state-focus,
.ui-widget-content .ui-radiobutton .ui-radiobutton-box.ui-state-focus {
	border: 1px solid #758CC0;

	-webkit-box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
			box-shadow: inset 1px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

/* FONTS FOR ALL SITE	:::::::::::::::::::::::::  */
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: #F5F5F5;
	font-family: "Calibri Light", Calibri, Arial, sans-serif;
	font-size: 0.7em;
	padding: 10px !important;
}

/* Cor Menu */
/* /* ::::::::::::::::::::::::::::::::::::::::::::	*/ */
/* /* PLACEHOLDER MENU								*/ */
/* /* :::::::::::::::::::::::::::::::::::::::::::: */ */

/* .ui-menuitem .ui-menuitem{ */
/* 	background: none; */
/* } */

/* .ui-menu-list .ui-menu-list .ui-menuitem { */
/*     border: none !important; */
/*     margin-left: 0px !important; */
/* } */

/* .ui-menu > .ui-menu-list > .ui-menuitem.ui-menuitem-active > .ui-menuitem-link.ui-state-hover { */
/* 	color: #fff; */
/* 	background: #35b3d3; */
/* } */

/* .ui-menu .ui-menuitem-link { */
/*     font-weight: bold; */
/*     border-top: 4px solid transparent; */
/*     color: #4A6695; */
/*     padding: 5px 5px; */
/* } */

/* .ui-menuitem .ui-menuitem-active .ui-menuitem-link.ui-state-hover { */
/* 	color: #fff; */
/* 	background: #35b3d3; */
/* } */

* ::::::::::::::::::::::::::::::::::::::::::::	*/
/* PLACEHOLDER CENTER							*/
/* :::::::::::::::::::::::::::::::::::::::::::: */
/* Placeholder CENTER content page	:::::::::::::::::: */
.ui-layout-center .ui-layout-unit-content.ui-widget-content {
    background:  #fff;
	border: 1px solid #cecece;
	margin-bottom: 5px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.ui-datatable tr:nth-child(2n+1) td {
  background: #f2f2f2;
}
.ui-datatable-data .ui-state-highlight, .ui-datatable .ui-state-highlight {
   background: #ffef8f !important;
/*    background: #EEE9BF !important; */
}
.ui-datatable-data .ui-state-highlight td, .ui-datatable .ui-state-highlight td {
	word-wrap: break-word;
	background: none !important;
	border: none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: none;
}

.ui-datatable,.ui-datatable-even {
    background: #FFF0A5;
    background: -moz-linear-gradient(top, #FDF9E1, #FFF0A5) repeat-X scroll
    50% 50% #FDF9E1;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	white-space: normal !important;
}

.ui-outputlabel-rfi {
    color: #ff0000 !important;
}

/* Growl */
/* .ui-state-highlight, .ui-widget-content td.ui-state-highlight { */
/* 	border: 2px solid #758CC0; */
/* 	background: #758CC0; */
/* } */

.ui-widget-content .ui-cell-editor-input input.ui-state-default {
	width: 100%;
	-webkit-border-radius: 0;
	-mox-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border:none !important;
}

.ui-widget-header {
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	font-weight: normal;

	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/* USER-BOX	::::::::::::::::::::: */
.user-box-container {
	z-index: 3;
} 

.user-box {
	*background-color: #fff; /*Ie7 */
	background-color: #fff;
	background-color: rgba(255, 255, 255, .75);
/* 	border: 1px solid #dfd9c3; */
	border: 1px solid #F2F5F7;
	margin: 10px 0px;
	padding: 8px;
	line-height: 18px;

	-webkit-box-shadow: 0 0 15px 1px rgba(49, 46, 37, .3);
	   -moz-box-shadow: 0 0 15px 1px rgba(49, 46, 37, .3);
			box-shadow: 0 0 15px 1px rgba(49, 46, 37, .3);

	   -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
			border-radius: 7px;

}
.user-box label {
	color: #6179A1;
	font-size: 12px;
}
.user-box hr {
	border-style: dotted;
}

*  Remover as bordas dos paineis, retirando as linhas que ficavam entre as sections */
.ui-layout-unit {
    border: 0px solid #DDDDDD !important;
    background: none;
}
.ui-layout-unit .ui-layout-unit-content {
	padding: 0 !important;
}

/* ajustar largura do menu */
.ui-layout-pane-west {
    width: 220px !important;
}

/* ajustar botÃ£o de esconder menu */
.ui-layout-resizer-west-open {
    left: 234px !important;
}

#searchForm:resultsPanel_content{
	margin: 0px !important;
	padding: 0px !important;
}
