<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:x="http://java.sun.com/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui"
	xmlns:m="http://code.google.com/p/gmaps4jsf/"
	template="/views/index.xhtml">

	<ui:define name="content">
		<h:form id="createForm" styleClass="container_24">
			<p:breadCrumb>
				<p:menuitem value="Home" url="/views/index.xhtml" />
				<p:menuitem value="Cadastrar" disabled="true"/>
				<p:menuitem value="Contato para Ocorrência" disabled="true" />
			</p:breadCrumb>

			<p:panel id="dataPanel" styleClass="clearfix" header="Dados do contato" toggleable="true" style="text-align:center">

				<p:outputLabel for="nameContact" value="Nome" class="grid_3" style="text-align: left;" />
				<p:inputText id="nameContact" value="#{contactOccurrenceController.entity.name}" required="true" class="grid_7" />

				<div class="clear" />
				<br />
				
				<p:outputLabel for="telephone" value="Telefone" class="grid_3" style="text-align: left;">
					<span class="ui-outputlabel-rfi">*</span>
				</p:outputLabel>
				
				<p:inputMask id="telephone" value="#{contactOccurrenceController.telephone.telephone}" mask="?99999999999999" class="grid_7" slotChar="" />
				
				<div class="clear" />
				
				<div class="buttonsAction">
					<p:commandButton id="addCommandButton" value="#{wds['button.add']}" process="telephone @this" icon="ui-icon-plusthick" update="telephone telephonesTable"
						action="#{contactOccurrenceController.addTelephone}" ajax="true" />
				</div>

				<div class="clear" />
				
				<div class="prefix_4 grid_16">
					
					<p:dataTable id="telephonesTable" value="#{contactOccurrenceController.telephones}" emptyMessage="#{wds['table.emptyMessage']}" paginator="false" var="item"
						selection="#{contactOccurrenceController.standardTelephone}" rowKey="#{item.telephone}" lazy="true" >
						
						<p:column headerText="Opções" styleClass="columnOptions" style="width:10%">
							<p:commandButton icon="ui-icon-trash" id="deleteButton" title="#{wds['table.columns.options.delete.hint']}" process="@this telephonesTable" action="#{contactOccurrenceController.removeTelephone}"
								ajax="true" update="telephonesTable">
								<f:setPropertyActionListener value="#{item}" target="#{contactOccurrenceController.telephone}" />
							</p:commandButton>
						</p:column>
	
						<p:column headerText="Telefone">
							<p:outputLabel value="#{item}" />
						</p:column>
						
						<p:column headerText="Padrão" selectionMode="single" style="width:10%;text-align:center" />
						
					</p:dataTable>
				</div>

				<div class="clear" />

				<div class="buttonsGroup">
					<p:commandButton value="Salvar" action="#{contactOccurrenceController.create}" update="@form" />
				</div>

			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>