<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:x="http://java.sun.com/jsf/composite/components">

	<h:form id="editForm" styleClass="container_24">

		<p:panel id="dataPanel" class="clearfix" header="#{wds['painel.dataOf']} #{lbl['contact']}" toggleable="true">

			<p:outputLabel for="imei" value="#{lbl['contact.name']}" class="grid_3" style="text-align: left;" />
			<p:inputText id="imei" value="#{contactOccurrenceManageController.editEntity.name}" required="true" class="grid_7" />

			<div class="clear" />

			<p:outputLabel for="telephone" value="Telefone" class="grid_3" style="text-align: left;">
				<span class="ui-outputlabel-rfi">*</span>
			</p:outputLabel>
			
			<p:inputMask id="telephone" value="#{contactOccurrenceManageController.telephone.telephone}" mask="?99999999999999" class="grid_7" slotChar="" />
			
			<div class="clear" />
			
			<div class="buttonsAction">
				<p:commandButton id="addCommandButton" value="#{wds['button.add']}" process="telephone @this" icon="ui-icon-plusthick" update="telephone telephonesTable"
					action="#{contactOccurrenceManageController.addTelephone}" ajax="true" />
			</div>

			<div class="clear" />
			
			<div class="prefix_4 grid_16">
				
				<p:dataTable id="telephonesTable" value="#{contactOccurrenceManageController.telephones}" emptyMessage="#{wds['table.emptyMessage']}" paginator="false" var="item"
					selection="#{contactOccurrenceManageController.standardTelephone}" rowKey="#{item.telephone}" lazy="true" >
					
					<p:column headerText="Opções" styleClass="columnOptions" style="width:10%">
						<p:commandButton icon="ui-icon-trash" id="deleteButton" title="#{wds['table.columns.options.delete.hint']}" process="@this telephonesTable" action="#{contactOccurrenceManageController.removeTelephone}"
							ajax="true" update="telephonesTable">
							<f:setPropertyActionListener value="#{item}" target="#{contactOccurrenceManageController.telephone}" />
						</p:commandButton>
					</p:column>

					<p:column headerText="Telefone">
						<p:outputLabel value="#{item}" />
					</p:column>
					
					<p:column headerText="Padrão" selectionMode="single" style="width:10%;text-align:center" />
					
				</p:dataTable>
			</div>

			<div class="clear" />

			<div class="buttonsGroup">
				<p:commandButton id="updateCommandButton" icon="ui-icon-pencil" value="#{wds['button.update']}" action="#{contactOccurrenceManageController.update}" update=":contactTabView"/>
				<p:commandButton id="cancelCommandButton" value="#{wds['button.cancel']}"  action="#{contactOccurrenceManageController.cancel}" update=":contactTabView @form" icon="ui-icon-cancel" process="@this" />
			</div>
		</p:panel>

	</h:form>

</ui:composition>