<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:x="http://java.sun.com/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui"
	xmlns:m="http://code.google.com/p/gmaps4jsf/"
	template="/views/index.xhtml">

	<ui:define name="content">
		<h:form id="createForm" styleClass="container_24">
			<p:breadCrumb>
				<p:menuitem value="Home" url="/views/index.xhtml" />
				<p:menuitem value="Cadastrar" disabled="true" />
				<p:menuitem value="Orgão" disabled="true" />
			</p:breadCrumb>

			<p:panel id="dataPanel" class="clearfix"
				header="Dados do orgão" toggleable="true" style="text-align:center">

				<p:outputLabel for="name" value="Nome" class="grid_3"
					style="text-align: left;" />
				<p:inputText id="name" value="#{organController.entity.name}"
					required="true" class="grid_7" />

				<div class="clear" />

				<p:outputLabel for="code" value="Código" class="grid_3" />
				<p:inputText id="code" maxlength="20"
					value="#{organController.entity.code}" required="true"
					class="grid_7" />

				<div class="clear" />

				<p:outputLabel for="stateAutocomplete" value="#{lbl['state']}"
					class="grid_3" />
				<div class="grid_3">
					<p:autoComplete value="#{organController.stateEntity}"
						id="stateAutocomplete" dropdown="true"
						completeMethod="#{stateController.autocomplete}" var="var"
						itemLabel="#{var.uf}" itemValue="#{var}"
						valueChangeListener="#{organController.changeState}"
						converter="autocompleteConverter" minQueryLength=""
						scrollHeight="200" required="true">
						<p:ajax event="itemSelect" update="cities" />
					</p:autoComplete>
				</div>

				<div class="clear" />

				<p:outputLabel value="Cidades" for="cities" class="grid_3" />
				<p:selectManyCheckbox id="cities"
					value="#{organController.entity.cities}"
					converter="autocompleteConverter" class="grid_21"
					required="true" layout="grid" columns="8">
					<f:selectItems value="#{organController.availableCities}" var="var"
						itemLabel="#{var.name}" itemValue="#{var}" />
				</p:selectManyCheckbox>

				<div class="clear" />

				<div class="buttonsGroup">
					<p:commandButton value="Salvar" action="#{organController.create}" update="@form" />
				</div>

			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>