<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>
	<title>Talonário Eletrônico</title>
</h:head>

<h:body style="font-size: 12px">
	
	<h:outputScript library="js" name="parse-min.js"/>
	<h:outputScript library="js" name="jquery.blockUI.js"/>
	<h:outputStylesheet name="layout.css" library="css" />
	<h:outputStylesheet name="grid.css" library="css" />

	<p:layout fullPage="true">

		<p:layoutUnit position="north">
			<ui:include src="sections/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="center">
			<p:messages id="messagesSystem" closable="true" autoUpdate="true"
				severity="error, fatal, warn" showDetail="true" showSummary="false" />
			<p:growl id="growlSystem" severity="info" autoUpdate="true" life="30000" />
			<ui:insert name="content" />
		</p:layoutUnit>

		<p:layoutUnit position="south">
<!-- 			<div style="text-align: center; font-size: 10px; font-style: italic;"> -->
<!-- 				Desenvolvido por <br /> Todos os Direitos Reservados -->
<!-- 			</div> -->
		</p:layoutUnit>

	</p:layout>
	
	<!-- 12*60*1000 -->
	<p:idleMonitor timeout="720000" onidle="PF('idleDialog').show();">
		<p:ajax event="idle" listener="#{responseTimeController.logout()}" />
	</p:idleMonitor>

	<p:dialog header="Sessão Expirada" resizable="false" closable="false" widgetVar="idleDialog" modal="true" width="300" style="text-align: center">
		<br />
		<br />
		Sua sessão expirou devido à inatividade.<br />
		<a href="#{appController.context}/login.xhtml" style="color: #005580; text-decoration: underline;">Clique aqui para entrar novamente</a>.
		<br />
		<br />
		<br />
	</p:dialog>

</h:body>
</html>