<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:x="http://java.sun.com/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui"
	xmlns:m="http://code.google.com/p/gmaps4jsf/"
	template="/views/index.xhtml">

	<ui:define name="content">
		<h:form id="createForm" styleClass="container_24">
			<p:breadCrumb>
				<p:menuitem value="Home" url="/views/index.xhtml" />
				<p:menuitem value="#{wds['tab.manage']}" disabled="true" />
				<p:menuitem value="Parâmetros" disabled="true" />
			</p:breadCrumb>

			<p:panel id="dataPanel" styleClass="clearfix" header="#{lbl['settingParameter']}" toggleable="true">

				<p:outputLabel for="photoEdit" value="#{lbl['settingParameter.dateEdit']}" class="grid_3" />
				<div class="grid_6">
					<p:selectOneRadio id="photoEdit" value="#{settingParameterController.entity.isDateEdit}" required="true">
						<f:selectItem itemLabel="#{wds['dialog.optionNo']}" itemValue="#{false}" />
						<f:selectItem itemLabel="#{wds['dialog.optionYes']}" itemValue="#{true}" />
					</p:selectOneRadio>
				</div>
				
				<div class="clear" />
				
				<p:outputLabel for="photoMax" value="#{lbl['settingParameter.photoMax']}" class="grid_3" />
				<p:inputMask id="photoMax" value="#{settingParameterController.entity.qntPhotos}" required="true" mask="?99" class="grid_5" slotChar="" />
				
				<div class="clear" />
				
				<p:outputLabel for="qntAutoInPackage" value="#{lbl['settingParameter.qntAutoInPackage']}" class="grid_3"/>
				<p:inputMask id="qntAutoInPackage" value="#{settingParameterController.entity.qntAutoInPackage}" required="true" mask="?999" class="grid_5" slotChar="" />
				
				<p:outputLabel for="minAutosWarn" value="#{lbl['settingParameter.minAutosWarn']}" class="grid_3"/>
				<p:inputMask id="minAutosWarn" value="#{settingParameterController.entity.minAutosWarn}" required="true" mask="?999" class="grid_5" slotChar="" />
						
				<p:outputLabel for="validityAutos" value="#{lbl['settingParameter.validityAutos']}" class="grid_3"/>
				<pe:inputNumber id="validityAutos" value="#{settingParameterController.entity.validityAutos}" required="true" class="grid_5" maxValue="99"
					symbolPosition="rigth" symbol=" dias" thousandSeparator="" decimalPlaces="0" decimalSeparator=""/>

				<div class="clear" />
				
				<p:outputLabel for="timeToSendAutos" value="#{lbl['settingParameter.timeToSendAutos']}" class="grid_3"/>
				<pe:inputNumber id="timeToSendAutos" value="#{settingParameterController.entity.timeToSendAutos}" required="true" class="grid_5" maxValue="999"
					symbolPosition="rigth" symbol=" minutos" thousandSeparator="" decimalPlaces="0" decimalSeparator=""/>
					
				<p:outputLabel for="timeToRemoveAutos" value="#{lbl['settingParameter.timeToRemoveAutos']}" class="grid_3"/>
				<pe:inputNumber id="timeToRemoveAutos" value="#{settingParameterController.entity.timeToRemoveAutos}" required="true" class="grid_5" maxValue="999"
					symbolPosition="rigth" symbol=" minutos" thousandSeparator="" decimalPlaces="0" decimalSeparator=""/>
					
				<div class="clear" />
				
				<p:outputLabel for="imagePath" value="#{lbl['settingParameter.imagePath']}" class="grid_3"/>
				<p:inputText id="imagePath" value="#{settingParameterController.entity.imagePath}" required="true" class="grid_7" />

				<div class="clear" />
				
				<p:outputLabel for="baseDownloadUrl" value="#{lbl['settingParameter.baseDownloadUrl']}" class="grid_3"/>
				<p:inputText id="baseDownloadUrl" value="#{settingParameterController.entity.baseDownloadUrl}" required="true" class="grid_7" />

				<div class="clear" />

				<div class="buttonsGroup">
					<p:commandButton value="#{wds['button.save']}" action="#{settingParameterController.create}" update="@form" />
					<p:commandButton value="#{wds['button.clean']}" action="#{settingParameterController.clean}" update="@form" />
					<p:commandButton value="Push Atualização" onclick="sendPushUpdateData()" process="@this" />
				</div>
			</p:panel>
		</h:form>
		
		<script type="text/javascript">
			function sendPushUpdateData(){
				var PARSE_APP = "kdwbHwVOOoKNajJ6jAA02oujC4kSTb5Mlq21RTGh";
				var PARSE_JS = "Ta8PDJ3UaEqrQP2Ly7LkZmD3SpirGzAVys6cLIbP";
				Parse.initialize(PARSE_APP, PARSE_JS);
				console.log ("Sending push...");
				$.blockUI({ message: '<h1><img style="width:30px;height:30px;" src="/talonario/resources/images/ajax-loader.gif"/> Enviando push...</h1>' });
				Parse.Push.send({
					  channels: [ "Agent" ],
					  data: {
					    alert: "Há uma nova atualização da base de dados.",
					    title: "Atualização disponível"
					  }
					}, {
					  success: function() {
							console.log("Push success!");
							$.unblockUI();
							confirmPush();
					  },
					  error: function(error) {
							console.dir(error);
							$.unblockUI();
							errorPush();
					  }
					});
			}

			function confirmPush(){
		        PF('modalDialogSuccess').show();
			}			

			function errorPush(){
				PF('modalDialogError').show();
			}
			
		</script>
		
		<p:confirmDialog id="dialogSuccess" header="Confirmação" message="Push enviado com sucesso!" widgetVar="modalDialogSuccess" modal="true" appendTo="@(body)" closable="false" resizable="false">
            <div class="buttonsGroup">
				<p:commandButton value="OK" onclick="PF('modalDialogSuccess').hide()" process="@this" />
      		</div>
        </p:confirmDialog>
        
        <p:confirmDialog id="dialogError" header="Erro" message="Ocorreu um erro ao enviar o push. Tente novamente." widgetVar="modalDialogError" modal="true" appendTo="@(body)" closable="false" resizable="false">
            <div class="buttonsGroup">
				<p:commandButton value="OK" onclick="PF('modalDialogError').hide()" process="@this" />
      		</div>
        </p:confirmDialog>
		
	</ui:define>
</ui:composition>
