<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<div class="container_24">
		<div class="grid_19" style="text-align: center;">
			<h1><a href="/talonario/views/index.xhtml">Talonário Eletrônico</a></h1>
		</div>	
		<h:panelGroup rendered="#{loginController.currentUser != null}">
			<h:form id="loginUserInfoForm" styleClass="user-box-container grid_5">
				<div class="user-box">
					<div class="grid_7">Usuário:</div>
					<div class="grid_17">
						<p:commandLink id="name" action="#{userManageController.editCurrentUser}">
	       					 <h:outputText value="#{loginController.currentUser.name}"  />
	   					 </p:commandLink>
					</div>
					<div class="clear" />
				</div>
			</h:form>
		</h:panelGroup>
	</div>

	<div class="clear" />

	<h:form>
		<p:menubar model="#{menuController.model}" autoDisplay="false"
			rendered="#{loginController.currentUser != null}" />
	</h:form>

</ui:composition>