<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:x="http://java.sun.com/jsf/composite/components">

	<p:panel id="dataPanel" class="clearfix" header="Dados do usuário" toggleable="true">

		<p:outputLabel for="name" value="Nome" class="grid_3"
			style="text-align: left;" />
		<p:inputText id="name" value="#{userManageController.editEntity.name}"
			required="true" class="grid_7" />

		<div class="clear" />

		<p:outputLabel for="username" value="Usuário" class="grid_3" />
		<p:inputText id="username" maxlength="20"
			value="#{userManageController.editEntity.username}" required="true"
			class="grid_7" />

		<div class="clear" />

		<p:outputLabel for="password" value="Senha" class="grid_3" />
		<p:password id="password" redisplay="true" maxlength="15" value="#{userManageController.password}" required="true" class="grid_7" />

		<div class="clear" />

		<p:outputLabel for="confirmPassword" value="Confirmar senha" class="grid_3" />
		<p:password id="confirmPassword" redisplay="true" maxlength="15" required="true" value="#{userManageController.confirmPassword}" class="grid_7" />

		<div class="clear" />

		<p:outputLabel for="profileSelect" value="#{lbl['user.profile']}" styleClass="grid_3" rendered="#{!rendered}"/>
		<div class="grid_7">
			<p:selectOneMenu id="profileSelect" value="#{userManageController.profile}" label="#{lbl['user.profile']}" converter="autocompleteConverter" required="true" rendered="#{!rendered}">
				<f:selectItem itemLabel="Selecione" itemValue="#{null}" />
				<f:selectItems value="#{profileController.autocompleteProfilesNotAdmin()}" var="var" itemLabel="#{var.description}" itemValue="#{var}" />
				<p:ajax update="organField" listener="#{userManageController.cleanProfile}"/>
			</p:selectOneMenu>
		</div>				
		
		<div class="clear" />
		
		<p:outputPanel id="organField">
			<p:outputLabel value="Orgão(s)" for="organs" class="grid_3" rendered="#{userManageController.checkProfileAPP()}"/>
			<p:selectManyCheckbox id="organs" value="#{userManageController.organsEdit}" converter="autocompleteConverter" class="grid_7"
				required="true" layout="pageDirection" rendered="#{userManageController.checkProfileAPP()}">
				<f:selectItems value="#{userManageController.organs}" var="var" itemLabel="#{var.name}" itemValue="#{var}" />
			</p:selectManyCheckbox>
		</p:outputPanel>

		<div class="clear" />
		
		<p:outputLabel for="situationField" value="Situação" class="grid_3" rendered="#{!rendered}"/>
		<div class="grid_7">
			<p:selectOneRadio id="situationField" value="#{userManageController.enabled}" required="true" rendered="#{!rendered}">
				<f:selectItem itemLabel="#{wds['dialog.optionDesactive']}" itemValue="#{false}" />
				<f:selectItem itemLabel="#{wds['dialog.optionActive']}" itemValue="#{true}" />
			</p:selectOneRadio>
		</div>
		
		<div class="clear" />
	
		<div class="buttonsGroup">
			<p:commandButton id="updateAndCloseCommandButton" icon="ui-icon-pencil" value="Atualizar" action="#{userManageController.updateAndClose}" rendered="#{!rendered}"  update=":agentTabView"/>
			<p:commandButton id="updateCommandButton" icon="ui-icon-pencil" value="Atualizar" action="#{userManageController.update}" rendered="#{rendered}"/>
			<p:commandButton id="cancelCommandButton" value="Cancelar"  action="#{userManageController.cancel}" update=":agentTabView @form" icon="ui-icon-cancel" process="@this" rendered="#{!rendered}" />
		</div>
		
	</p:panel>

</ui:composition>