<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:x="http://java.sun.com/jsf/composite/components"
	template="/views/index.xhtml">

	<ui:define name="content">
		<h:form id="editForm" styleClass="container_24">
			<f:metadata>
				<f:viewParam name="userId" value="#{userManageController.userId}" />
			</f:metadata>
			<p:breadCrumb>
				<p:menuitem value="Home" url="/views/index.xhtml" />
				<p:menuitem value="Editar" disabled="true"/>
				<p:menuitem value="Usuário" disabled="true" />
			</p:breadCrumb>
			
			<ui:include src="./BaseUserEdit.xhtml">
				<ui:param name="rendered" value="true" />
			</ui:include>
	
		</h:form>
	</ui:define>

</ui:composition>