<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:x="http://java.sun.com/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui"
	xmlns:m="http://code.google.com/p/gmaps4jsf/"
	template="/views/index.xhtml">

	<ui:define name="content">
		<h:form id="createForm" styleClass="container_24">
			<p:breadCrumb>
				<p:menuitem value="Home" url="/views/index.xhtml" />
				<p:menuitem value="Cadastrar" disabled="true"/>
				<p:menuitem value="Usuário" disabled="true" />
			</p:breadCrumb>

			<p:panel id="dataPanel" styleClass="clearfix"
				header="Dados do usuário" toggleable="true"
				style="text-align:center">

				<p:outputLabel for="name" value="Nome" class="grid_3"
					style="text-align: left;" />
				<p:inputText id="name" value="#{userController.entity.name}"
					required="true" class="grid_7" />

				<div class="clear" />

				<p:outputLabel for="username" value="Usuário" class="grid_3" />
				<p:inputText id="username" maxlength="20"
					value="#{userController.entity.username}" required="true"
					class="grid_7" />

				<div class="clear" />

				<p:outputLabel for="password" value="Senha" class="grid_3" />
				<p:password id="password" redisplay="true" maxlength="15"
					value="#{userController.entity.password}" required="true"
					class="grid_7" />

				<div class="clear" />

				<p:outputLabel for="confirmPassword" value="Confirmar senha"
					class="grid_3" />
				<p:password id="confirmPassword" redisplay="true" maxlength="15"
					required="true" value="#{userController.confirmPassword}"
					class="grid_7" />

				<div class="clear" />

				<p:outputLabel for="profileSelect" value="#{lbl['user.profile']}" styleClass="grid_3" />
				<div class="grid_7">
					<p:selectOneMenu id="profileSelect" value="#{userController.profile}" label="#{lbl['user.profile']}" converter="autocompleteConverter" required="true">
						<f:selectItem itemLabel="Selecione" itemValue="#{null}" />
						<f:selectItems value="#{profileController.autocompleteProfilesNotAdmin()}" var="var" itemLabel="#{var.description}" itemValue="#{var}" />
						<p:ajax update="organField" listener="#{userController.cleanProfile}"/>
					</p:selectOneMenu>
				</div>				
				
				<div class="clear" />
				
				<p:outputPanel id="organField">
					<p:outputLabel value="Orgão(s)" for="organs" class="grid_3" rendered="#{userController.checkProfileAPP()}"/>
					<p:selectManyCheckbox id="organs" value="#{userController.entity.organs}" converter="autocompleteConverter" class="grid_7"
						required="true" layout="pageDirection" rendered="#{userController.checkProfileAPP()}">
						<f:selectItems value="#{userController.organs}" var="var"
							itemLabel="#{var.name}" itemValue="#{var}" />
					</p:selectManyCheckbox>
				</p:outputPanel>

				<div class="clear" />

				<div class="buttonsGroup">
					<p:commandButton value="Salvar" action="#{userController.create}" update="@form" />
				</div>

			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>