<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:x="http://java.sun.com/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui"
	xmlns:m="http://code.google.com/p/gmaps4jsf/"
	template="/views/index.xhtml">

	<ui:define name="content">

		<p:tabView id="agentTabView" widgetVar="agentTabs">
		
			<p:ajax event="tabClose" update="agentTabView" listener="#{userManageController.onTabClose}" process="@all" />
			
			<p:tab id="searchTab" binding="#{userManageController.searchTab}" title="#{wds['tab.manage']} #{lbl['user']}">
				<p:breadCrumb>
					<p:menuitem value="Home" url="/views/index.xhtml" />
					<p:menuitem value="#{wds['tab.manage']}" disabled="true" />
					<p:menuitem value="Usuário" disabled="true" />
				</p:breadCrumb>
				<ui:include src="UserSearch.xhtml" />
			</p:tab>

			<p:tab id="editTab" binding="#{userManageController.editTab}" title="#{wds['tab.edit']} #{lbl['user']}" rendered="false" closable="true">
				<p:breadCrumb>
					<p:menuitem value="Home" url="/views/index.xhtml" />
					<p:menuitem value="Editar" disabled="true" />
					<p:menuitem value="Usuário" disabled="true" />
				</p:breadCrumb>
				<ui:include src="UserEdit.xhtml" />
			</p:tab>

		</p:tabView>

	</ui:define>

</ui:composition>