<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:x="http://java.sun.com/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<h:form id="formSearchAgent" styleClass="container_24">
		<f:validateBean disabled="true">
			<p:panel header="Filtros" toggleable="true" id="filtersPanel" styleClass="clearfix">
				<p:outputLabel for="name" value="Nome" class="grid_2" />
				<p:inputText id="name"
					value="#{userManageController.searchEntity.name}" class="grid_22" />

				<div class="clear" />
			</p:panel>
		</f:validateBean>

		<div class="buttonsGroup">
			<p:commandButton id="searchBtn" icon="ui-icon-search" value="Procurar" update="resultsDataTable" action="#{userManageController.find}">
				<p:blockUI block="resultsDataTable" trigger="searchBtn">Procurando<br />
					<h:graphicImage library="images" name="ajax-loader.gif" />
				</p:blockUI>
			</p:commandButton>

			<p:commandButton value="Limpar campos"
				action="#{userManageController.clean}"
				icon="ui-icon-arrowrefresh-1-w" update="filtersPanel"
				process="@this">
			</p:commandButton>
		</div>

		<p:panel id="resultsPanel" header="Resultados" toggleable="true" styleClass="clearfix">
			<p:dataTable id="resultsDataTable" binding="#{userManageController.searchResults}" value="#{userManageController.dataModel}">
				
				<p:column id="buttonsOptions" styleClass="buttonsOptions" headerText="Opções" exportable="false">
					<p:commandButton id="editCommandButton"
						action="#{userManageController.edit}" icon="ui-icon-pencil" title="Editar" update=":agentTabView">
						<f:setPropertyActionListener target="#{userManageController.editEntity}" value="#{item}" />
					</p:commandButton>
					<p:commandButton id="deleteCommandButton" icon="ui-icon-trash"
						title="Remover" oncomplete="PF('confirmation').show()">
						<f:setPropertyActionListener target="#{userManageController.removeEntity}" value="#{item}" />
					</p:commandButton>
				</p:column>

				<p:column id="nameColumn" headerText="Nome" sortBy="#{item.name}">
					<h:outputLabel value="#{item.name}" />
				</p:column>

				<p:column id="usernameColumn" sortBy="#{item.username}">
					<f:facet name="header">
						<h:outputText id="usernameText" value="Usuário" />
					</f:facet>
					<h:outputLabel id="usernameLabel" value="#{item.username}" />
				</p:column>
				
				<p:column id="perfilColumn">
					<f:facet name="header">
						<h:outputText id="profileText" value="Perfil" />
					</f:facet>
					<h:outputLabel id="profileLabel" value="#{userManageController.getProfileShow(item)}" />
				</p:column>

				<p:column id="activeColumn" sortBy="#{item.enabled}">
					<f:facet name="header">
						<h:outputText id="activeText" value="Situação" />
					</f:facet>
					<h:outputLabel id="activeLabel" value="#{userManageController.valueEnabled(item.enabled)}" />
				</p:column>

			</p:dataTable>
		</p:panel>
		
		<p:confirmDialog id="confirmation" message="#{wds['dialog.deleteConfirmation.message']}" header="#{wds['dialog.deleteConfirmation.header']}" widgetVar="confirmation"  appendTo="@(body)">
			<div class="buttonsGroup">
				<p:commandButton id="simCommandButton" value="#{wds['dialog.optionYes']}" onclick="PF('confirmation').hide()" process="@this" icon="ui-icon-check" actionListener="#{userManageController.remove}"
					update="@form" />
				<p:commandButton id="naoCommandButton" onclick="PF('confirmation').hide()" value="#{wds['dialog.optionNo']}" type="button" icon="ui-icon-cancel" />
			</div>
		</p:confirmDialog>

	</h:form>

</ui:composition>