<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Talonário Eletrônico</title>
</h:head>
<h:body
	style="background-position: 50% 0%;background-repeat: no-repeat;font-size: 12px">
	<h:form styleClass="container_24">
		<div style="text-align: center; color: gray;">
			<h1>
				Talonário Eletrônico<br /> Acesso Restrito
			</h1>
		</div>

		<p:dialog header="Identificação" visible="true" closable="false"
			width="300" draggable="false" resizable="false" styleClass="container_24">
			<h:panelGrid columns="2" styleClass="container_24">
				<h:outputLabel for="username" value="Usuário" class="grid_2" />
				<p:inputText id="username" value="#{loginController.username}"
					class="grid_22" />
				<h:outputLabel for="password" value="Senha" class="grid_2" />
				<p:password id="password" value="#{loginController.password}"
					class="grid_22" feedback="false" />
			</h:panelGrid>

			<div class="clear" />

			<div style="text-align: center;">
				<p:commandButton value="Login" action="#{loginController.login}"
					update="messages password" />
			</div>

			<h:messages id="messages" layout="table" class="grid_24"
				style="color:red; font-weight:bold; text-align: center;" />
		</p:dialog>
	</h:form>
	
	<h:outputStylesheet name="layout.css" library="css" />
	<h:outputStylesheet name="grid.css" library="css" />
	
</h:body>
</html>